.header
{
	background-color: grey;
	color: blue;
	padding: 10px;
	margin-bottom: 5px;
	border: 1px solid red;
	height: 100px;
}

.navigation
{
	background-color: grey;
	color: blue;
	padding: 10px;
	margin-bottom: 5px;
	border: 1px solid red;
	height: 30px;
}

.inline 
{
	border: 1px solid black;
	float: left;
	width: 19%; //165px;
	text-align: center;
	font-size: 150%;
	margin-left: 5px;

	//background-color: red;
}

.show_menu
{
	display: block;
}

.hide_menu
{
	display: none;
}

.dropdown_menu
{
	position: absolute;
	text-align: left;
	left: 40px;
}

.menu
{
	background-color: grey;
	color: blue;
	float: left;
	padding: 10px;
	margin-bottom: 5px;
	border: 1px solid red;
	height: 300px;
	width: 180px;
}

.actual_news
{
	background-color: grey;
	color: blue;
	float: left;
	padding: 10px;
	border: 1px solid black;
	height: 173px;
	width: 180px;
	
}

.content
{
	background-color: grey;
	color: blue;
	float: right;
	margin-bottom: 5px;
	height: 525px;
	width: 693px;
}

.content_body
{
	border: 1px solid green;
	padding: 5px;
}

.news
{
	background-color: brown;
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
	height: 100px;
}

.img_news
{
	height: 80px;
	width: 80px;
	border: 1px solid black;
	float: left;
	//margin-top: 2px;
	margin-left: 2px;

}

.header_news
{
	border: 1px solid black;
	float: right;
	width: 85%;
	height: 25px;
	margin-top: 2px;
}

.short_description_news
{
	border: 1px solid black;
	float: right;
	width: 85%;
	height: 50px;
	margin-top: 2px;
}

.pagination
{
	border: 1px solid black;
	margin-left: 30%;
	width: 300px;
	height: 15px;
}

.footer
{
	background-color: grey;
	color: blue;
	padding: 10px;
	border: 1px solid red;
	
}

body, html
{
	margin: 0px; padding: 0px;
}

.wrap
{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background: #ddd;
	padding: 10px;
	
}

.test
{
	width: 200px;
	height: 200px;
	padding: 50px;
	overflow: auto; /* добавляет полосу прокрутки при переполнении размера*/

	position: fixed; /* Фиксированное положение */
	left: 0; top: 50%; /* Положение */

	border: 1px solid green;
	background-color: grey;
}